*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* remove scroll from the body and put scroll on Y axis */
  /* overflow: hidden; */ }

@keyframes animateBackground {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  color: #fff;
  line-height: 1.6;
  height: 100vh; }

h1 {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 1.1;
  text-align: center;
  padding: 1rem; }

p {
  text-align: center;
  padding: 1rem; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff00f2, #01ebfc);
  animation: animateBackground  20s linear infinite;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(2deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.section-about {
  padding: 5rem 0; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem; }
  .btn:link:hover, .btn:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:link:hover::after, .btn:visited:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:link:active, .btn:visited:active {
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:link::after, .btn:visited::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out .65s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #1f1f1f; }
  .btn--white::after {
    background-color: #fff; }

.welcome {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #01ebfc, #ff00f2);
  animation: animateBackground  20s linear infinite; }
  .welcome__heading-primary--main {
    display: block;
    animation: moveInLeft 0.5s ease-out; }
  .welcome__heading-primary--sub {
    display: block;
    margin-bottom: 6rem;
    animation: moveInRight 0.5s ease-out;
    font-size: 3rem; }

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* Scroll snap effect */
  scroll-snap-align: center; }
  .welcome h1 {
    font-size: 6rem; }

/* 
#welcome:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 100vh solid #fff;
    opacity: 0.1;
}

#welcome:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 100vh solid #fff;
    opacity: 0.1;
} */
.aboutMe {
  position: relative;
  width: 100%; }

.projects {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #ff00f2, #01ebfc); }

/* Responsive Nav Bar styling  */
nav {
  height: 4rem;
  width: 100%;
  background-color: #f7f7f7;
  color: #333; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    display: inline; }
  nav a {
    display: inline-block;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 0;
    color: #333;
    font-size: 1.5rem; }
  nav li:hover {
    background-color: #d1d1d1; }
  nav a#openup {
    display: none; }

.cf {
  zoom: 1; }
  .cf::before {
    content: "";
    display: table; }
  .cf::after {
    content: "";
    display: table;
    clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

@media screen and (max-width: 580px) {
  h1 {
    font-size: 3rem; }
  nav {
    height: auto;
    border-bottom: 0; }
    nav ul {
      display: none;
      height: auto; }
    nav li {
      width: 100%;
      float: left;
      position: relative; }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 2.5rem;
      background: #f7f7f7;
      border-bottom: 1px solid #1f1f1f; }
    nav a:hover {
      background: #1f1f1f; }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 3.5rem;
      height: 3.5rem;
      display: inline-block;
      position: absolute;
      right: 0.5rem;
      top: 2rem; }
    nav a#openup {
      display: block;
      background-color: #f7f7f7;
      width: 100%;
      position: relative;
      padding: 2rem; } }

.slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.cardHolder {
  height: auto;
  /* Can be anything */
  width: 25%;
  /* Can be anything */
  flex: 0 1 80%;
  background-color: rgba(255, 255, 255, 0.7); }

.slideImg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: auto; }

@media screen and (max-width: 60em) {
  .welcome::before {
    display: none; }
  .welcome::after {
    display: none; }
  section p {
    font-size: 2rem; } }

@media screen and (min-width: 40em) {
  .slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .cardHolder {
    flex: 0 1 calc(50% - 1em); } }

@media screen and (min-width: 80em) {
  .cardHolder {
    flex: 0 1 calc(25% - 1em); } }
