$color-primary-background: #f7f7f7;
$color-primary-light: #555;
$color-primary-dark: rgb(31, 31, 31);
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

$color-gradient-start: #ff00f2;
$color-gradient-end: #01ebfc;

//Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Navbar 

$navbar-height: 5rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

// Font sizes 

$font-size-general: 1.6rem;