* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    /* remove scroll from the body and put scroll on Y axis */
    /* overflow: hidden; */
}
  h1 {
    font-size: 4em;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
  }
  
  p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
  }


  /* Responsive Nav Bar styling  */
  nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }
  
  @media screen and (max-width: 580px) {
    h1 {
      font-size: 2.8em;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
      padding: 20px;
    }
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }
  
  /* For IE 6/7 (trigger hasLayout) */
  

/* Styling sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Scroll snap effect */
    scroll-snap-align: center;
    }
    
    section h1 {
        font-size: 4rem;
    }
    section p {
        font-size: 1.5rem;
    
    }
    .heading-primary-main{
        display: block;
        animation: moveInLeft 0.5s ease-out;
    }
    .heading-primary-sub{
        display: block;
         margin-bottom: 60px;
        animation: moveInRight 0.5s ease-out;
    }
    #welcome {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(90deg, #737eba, #469fab);
        animation: animate 20s linear infinite;
        
    }
/*     
    #welcome:before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        border-top: 100vh solid transparent;
        border-right: 100vh solid #fff;
        opacity: 0.1;
    }
    
    #welcome:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        border-top: 100vh solid transparent;
        border-left: 100vh solid #fff;
        opacity: 0.1;
    } */
    
    .welcomeMsg {
        font-family: 'Nunito Sans', sans-serif;
        font-size: xx-large;
        color: white;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    }
    #scrollButton {
        font-family: 'Nunito Sans', sans-serif;
    }
    
    #aboutMe {
        position: relative;
        width: 100%;
    
    }
    
    #projects {
        position: relative;
        width: 100%;
        background: linear-gradient(90deg, #3f51b5, #00bcd4);
    }
    .slide {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .cardHolder {
        height: auto; /* Can be anything */
        width: 25%; /* Can be anything */
        flex: 0 1 80%;
        background-color: rgba(256, 256, 256, 0.7);
    }
    
    .cardHolder:hover {
        
    }
    
    .slideImg {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
    }


    @media screen and (max-width: 60em) {
        #welcome::before{
            display: none;
        }
        #welcome::after{
            display: none;
        }  

        section h1 {
            font-size: 20px;

          }
          
        section p {
            font-size: 10px;

          } 

        
    }
    @media screen and (min-width: 40em) {
        .slide {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
        .cardHolder {
            flex: 0 1 calc(50% - 1em);
        }

       
        
    }

    @media screen and (min-width: 80em) {
        .cardHolder {
            flex: 0 1 calc(25% - 1em);
        }
    }


    @keyframes animate {
        0% {
            filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }

    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform:translateX(100px);
        }
        80% {
            transform:translateX(-10px);
        }
        100% {
            opacity: 1;
            transform:translateX(0);
        }
    }
    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform:translateX(-100px);
        }
        80% {
            transform:translateX(10px);
        }
        100% {
            opacity: 1;
            transform:translateX(0);
        }
    }
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform:translateY(30px);
        }
        100% {
            opacity: 1;
            transform:translateY(0);
        }
    }
    .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }
    .btn:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    }

    .btn:active {
        transform: translate(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }
    .btn-white{
        background-color: #fff;
        color: #777;
    }


    .btn::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
    .btn-white::after{
        background-color: #fff;
    }

    .btn:hover::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;

    }

    .btn-animated {
        animation: moveInBottom 0.5s ease-out .65s;
        animation-fill-mode: backwards;
    }