body {
    margin: 0;
    padding: 0;
}

#welcome {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #3f51b5, #00bcd4);
    animation: animate 20s linear infinite;
}

#welcome:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 100vh solid #fff;
    opacity: 0.1;
}

#welcome:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 100vh solid #fff;
    opacity: 0.1;
}

.welcomeMsg {
    font-family: 'Nunito Sans', sans-serif;
    font-size: xx-large;
    color: white;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

#scrollButton {
    font-family: 'Nunito Sans', sans-serif;
}

#aboutMe {
    position: relative;
    width: 100%;
    height: 90vh;
}

#projects {
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(90deg, #3f51b5, #00bcd4);
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}