
//animation for background changing colors
@keyframes animateBackground {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
//animation for landing page text
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform:translateX(10rem);
    }
    80% {
        transform:translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform:translateX(0);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform:translateX(-10rem);
    }
    80% {
        transform:translateX(1rem);
    }
    100% {
        opacity: 1;
        transform:translateX(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform:translateY(3rem);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
}
// animation for social media links
@keyframes linkAnim {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}